Repository finos/architecture-as-code, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finos/architecture-as-code-maintainers, @jpgough-ms, @rocketstack-matt, @grahampacker-ms, @Thels, @aidanm3341, @lbulanti-ms, @willosborne, @oliviajanejohns, @aamanrebello, @yoofitt96, @Budlee, @matthewgardner

.github/CODEOWNERS:

* @finos/architecture-as-code-maintainers

/calm/ @finos/architecture-as-code-maintainers

/calm-hub/ @jpgough-ms @rocketstack-matt @grahampacker-ms @Thels

/cli/ @aidanm3341 @lbulanti-ms @willosborne @grahampacker-ms @jpgough-ms @rocketstack-matt @Thels

/calm-visualizer/ @oliviajanejohns @aidanm3341 @aamanrebello @yoofitt96

/shared/ @aidanm3341 @lbulanti-ms @willosborne @grahampacker-ms @jpgough-ms @rocketstack-matt @Thels

/translator/ @Budlee @matthewgardner @jpgough-ms @rocketstack-matt

Add logic to check bundled version
  shared/src/commands/bundled-schemas.spec.ts
  shared/src/commands/bundled-schemas.ts
  shared/src/commands/validate/validate.ts
Owners: @aidanm3341, @lbulanti-ms, @willosborne, @grahampacker-ms, @jpgough-ms, @rocketstack-matt, @Thels

Fix tests
  shared/src/commands/bundled-schemas.spec.ts
  shared/src/commands/bundled-schemas.ts
  shared/src/commands/validate/validate.spec.ts
Owners: @aidanm3341, @lbulanti-ms, @willosborne, @grahampacker-ms, @jpgough-ms, @rocketstack-matt, @Thels

Lint
  shared/src/commands/bundled-schemas.spec.ts
  shared/src/commands/bundled-schemas.ts
  shared/src/commands/validate/validate.spec.ts
Owners: @aidanm3341, @lbulanti-ms, @willosborne, @grahampacker-ms, @jpgough-ms, @rocketstack-matt, @Thels

Remove duplicated dependency.
  calm-visualizer/package-lock.json
  calm-visualizer/package.json
  package-lock.json
Owners: @oliviajanejohns, @aidanm3341, @aamanrebello, @yoofitt96, @finos/architecture-as-code-maintainers

change to using breadthfirst layout
  calm-visualizer/src/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-visualizer/src/components/drawer/Drawer.tsx
Owners: @oliviajanejohns, @aidanm3341, @aamanrebello, @yoofitt96

remove tsc from build step in visualizer
  calm-visualizer/package.json
Owners: @oliviajanejohns, @aidanm3341, @aamanrebello, @yoofitt96

fix sidebar bug and tests
  calm-visualizer/src/components/sidebar/Sidebar.tsx
  calm-visualizer/src/tests/Sidebar.test.tsx
Owners: @oliviajanejohns, @aidanm3341, @aamanrebello, @yoofitt96

fix relationship types and drawer to use the new field name
  calm-visualizer/src/components/drawer/Drawer.tsx
  shared/src/types.ts
Owners: @oliviajanejohns, @aidanm3341, @aamanrebello, @yoofitt96, @lbulanti-ms, @willosborne, @grahampacker-ms, @jpgough-ms, @rocketstack-matt, @Thels

move vitest and jsdom to top level package.json
  package-lock.json
  package.json
Owners: @finos/architecture-as-code-maintainers

fix calmToDot to use new type in tests
  shared/src/commands/visualize/calmToDot.spec.ts
Owners: @aidanm3341, @lbulanti-ms, @willosborne, @grahampacker-ms, @jpgough-ms, @rocketstack-matt, @Thels
