Repository finos/architecture-as-code, changes with the labels that .github/labeler.yml gives for each.
All labels: calm-cli, shared, docs, calm-hub, calm, calm-hub-ui, config

Removed unused Drawer class
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
Labels: calm-hub-ui

added prettier config
  prettier.config.js
Labels: none

#989 added data as a dependecy to the use affect
  calm-hub-ui/src/visualizer/Visualizer.tsx
Labels: calm-hub-ui

Revert "Removed unused Drawer class"
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
Labels: calm-hub-ui

Update Drawer class updated sidebar args
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
Labels: calm-hub-ui

added anyof prototype to pattern options
  calm/draft/2025-03/prototype/anyof/both-options.architecture.json
  calm/draft/2025-03/prototype/anyof/neither-option.architecture.json
  calm/draft/2025-03/prototype/anyof/options-prototype.pattern.json
  calm/draft/2025-03/prototype/oneof/application-a.architecture.json
  calm/draft/2025-03/prototype/oneof/application-b.architecture.json
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
Labels: calm

added option relationship type to model
  shared/src/model/relationship.spec.ts
  shared/src/model/relationship.ts
  shared/src/types/core-types.ts
Labels: shared

implementation for pattern options in generate command
  cli/architecture.json
  cli/package.json
  cli/src/fileInput.ts
  cli/src/index.ts
  shared/architecture.json
  shared/src/commands/generate/components/options.spec.ts
  shared/src/commands/generate/components/options.ts
  shared/src/commands/generate/components/pattern-builder.ts
  shared/src/commands/generate/generate.e2e.spec.ts
  shared/src/commands/generate/generate.spec.ts
  shared/src/commands/generate/generate.ts
  shared/src/index.ts
Labels: shared, config

added anyof prototype to pattern options
  calm/draft/2025-03/prototype/anyof/both-options.architecture.json
  calm/draft/2025-03/prototype/anyof/neither-option.architecture.json
  calm/draft/2025-03/prototype/anyof/options-prototype.pattern.json
  calm/draft/2025-03/prototype/oneof/application-a.architecture.json
  calm/draft/2025-03/prototype/oneof/application-b.architecture.json
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
Labels: calm

added option relationship type to model
  shared/src/model/relationship.spec.ts
  shared/src/model/relationship.ts
  shared/src/types/core-types.ts
Labels: shared

updated casing of anyof and oneof
  calm/draft/2025-03/prototype/anyof/both-options.architecture.json
  calm/draft/2025-03/prototype/anyof/neither-option.architecture.json
  calm/draft/2025-03/prototype/anyof/options-prototype.pattern.json
  calm/draft/2025-03/prototype/oneof/application-a.architecture.json
  calm/draft/2025-03/prototype/oneof/application-b.architecture.json
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
Labels: calm

renamed calm options model type
  shared/src/model/relationship.ts
  shared/src/types/core-types.ts
Labels: shared

undid changes to oneof options prototype
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
Labels: calm

fix anyOf -> anyof in schema of architecture prototypes
  calm/draft/2025-03/prototype/anyof/both-options.architecture.json
  calm/draft/2025-03/prototype/anyof/neither-option.architecture.json
Labels: calm

Pattern Options Extra Example + Model Updates (#1071)
  calm/draft/2025-03/prototype/anyof/both-options.architecture.json
  calm/draft/2025-03/prototype/anyof/neither-option.architecture.json
  calm/draft/2025-03/prototype/anyof/options-prototype.pattern.json
  calm/draft/2025-03/prototype/oneof/application-a.architecture.json
  calm/draft/2025-03/prototype/oneof/application-b.architecture.json
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
  shared/src/model/relationship.spec.ts
  shared/src/model/relationship.ts
  shared/src/types/core-types.ts
Labels: shared, calm

updated casing of anyof and oneof
  calm/draft/2025-03/prototype/anyof/both-options.architecture.json
  calm/draft/2025-03/prototype/anyof/neither-option.architecture.json
  calm/draft/2025-03/prototype/anyof/options-prototype.pattern.json
  calm/draft/2025-03/prototype/oneof/application-a.architecture.json
  calm/draft/2025-03/prototype/oneof/application-b.architecture.json
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
Labels: calm

renamed calm options model type
  shared/src/model/relationship.ts
  shared/src/types/core-types.ts
Labels: shared

undid changes to oneof options prototype
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
Labels: calm

fix anyOf -> anyof in schema of architecture prototypes
  calm/draft/2025-03/prototype/anyof/both-options.architecture.json
  calm/draft/2025-03/prototype/anyof/neither-option.architecture.json
Labels: calm

.github/labeler.yml:

calm-cli:
  - "calm-cli/**"
shared:
  - "shared/**"
docs:
  - "docs/**"
calm-hub:
  - "calm-hub/**"
calm:
  - "calm/**"
calm-hub-ui:
  - "calm-hub-ui/**"
config:
  - "pom.xml"
  - "**/package.json"
  - "**/package-lock.json"
