Repository finos/architecture-as-code, pull requests merged in 2024-12, with the labels that each got.

#669 docs: update CLI dev env setup instructions
  cli/DEVELOPER_GUIDE.md
Labels: documentation

#678 tests: fix problem with running tests when not root
  cli/src/cli.spec.ts
Labels: bug

#685 Fixes #684
  .github/workflows/build-cli.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-shared.yml
  package-lock.json
  package.json
Labels: chore
