Repository finos/architecture-as-code, pull requests merged in 2025-08, with the labels that each got.

#1489 Fix shell vulnerability
  cli/src/cli.e2e.spec.ts
Labels: cli

#1490 Resolve on-headers vulnerability
  docs/package.json
  package-lock.json
  package.json
Labels: config, docs

#1508 #1456 - CLI Arg Changes
  calm/getting-started/README.md
  cli/README.md
  cli/src/cli.e2e.spec.ts
  cli/src/cli.spec.ts
  cli/src/cli.ts
  cli/test_fixtures/getting-started/STEP-2/website/docusaurus.config.js
  cli/test_fixtures/getting-started/STEP-3/website/docusaurus.config.js
  conferences/osff-ln-2025/workshop/README.md
  conferences/osff-ln-2025/workshop/walkthrough.sh
  docs/docs/working-with-calm/generate.md
  docs/quick-start/index.md
  package-lock.json
  shared/src/docify/template-bundles/docusaurus/docusaurus.config.js
  shared/src/template/template-processor.ts
  shared/test_fixtures/docify/workshop/expected-output/non-secure/docusaurus.config.js
  shared/test_fixtures/docify/workshop/expected-output/secure/docusaurus.config.js
Labels: calm, cli, shared, config, docs

#1514 Add --clear-output-directory as an option to calm template and docify - fixes #1505
  cli/README.md
  cli/src/cli.spec.ts
  cli/src/cli.ts
  shared/src/docify/docifier.spec.ts
  shared/src/docify/docifier.ts
  shared/src/template/template-processor.spec.ts
  shared/src/template/template-processor.ts
Labels: cli, shared

#1517 Fix initialization of loggers that check `process.env.DEBUG`; quiet templating logs
  shared/src/model-visitor/logging-visitor.spec.ts
  shared/src/model-visitor/logging-visitor.ts
  shared/src/resolver/calm-reference-resolver.ts
  shared/src/template/template-bundle-file-loader.ts
  shared/src/template/template-engine.spec.ts
  shared/src/template/template-engine.ts
  shared/src/template/template-path-extractor.ts
  shared/src/template/template-processor.ts
Labels: shared

#1525 bump cli version to include v1 schema
  cli/package.json
  cli/src/cli.e2e.spec.ts
  package-lock.json
Labels: cli, config
