Repository finos/architecture-as-code, pull requests merged in 2025-03, with the labels that each got.

#958 Add Docker Publish Action
  .github/workflows/docker-publish-calm-hub.yml
  calm-hub/README.md
Labels: calm-hub

#936 Sanitize ADR inputs for HTML elements (#761)
  calm-hub/pom.xml
  calm-hub/src/integration-test/java/integration/MongoAdrIntegration.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Adr.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Decision.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Link.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/NewAdrRequest.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Option.java
  calm-hub/src/test/java/org/finos/calm/domain/adr/TestDecisionShould.java
  calm-hub/src/test/java/org/finos/calm/domain/adr/TestLinkShould.java
  calm-hub/src/test/java/org/finos/calm/domain/adr/TestNewAdrRequestShould.java
  calm-hub/src/test/java/org/finos/calm/domain/adr/TestOptionShould.java
  calm-hub/src/test/java/org/finos/calm/resources/TestAdrResourceShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoAdrStoreShould.java
Labels: calm-hub

#968 #967 Remove instance property from core specification
  calm/draft/2025-03/meta/core.json
  shared/src/model/core.spec.ts
  shared/src/model/node.spec.ts
  shared/src/model/node.ts
  shared/src/types.ts
  shared/src/types/core-types.ts
Labels: calm, shared

#973 Update docker references to use the new finos/calm-hub repo
  calm-hub/deploy/docker-compose.yml
  calm-hub/k8s/calm-hub.yml
Labels: calm-hub

#945 Proposed migration to MSW from fetch-mock
  package-lock.json
  shared/jest.config.js
  shared/package.json
  shared/src/commands/validate/validate.msw.spec.ts
  shared/src/test/mocks/handlers.ts
  shared/src/test/mocks/server.ts
  shared/src/test/setup-msw.ts
Labels: shared, config

#966 Features/#878
  docs/docs/core-concepts/controls.md
  docs/docs/core-concepts/index.md
  docs/docs/core-concepts/metadata.md
  docs/docs/core-concepts/nodes.md
Labels: docs

#1014 Add missing vite dependency and remove unnecessary package-lock.json files
  calm-hub-ui/package-lock.json
  calm-hub-ui/package.json
  calm-hub-ui/prettier.config.js
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  docs/package-lock.json
  package-lock.json
Labels: config, docs, calm-hub-ui

#1017 Hub Links to a blank page - #1016
  calm-hub-ui/src/components/navbar/Navbar.tsx
Labels: calm-hub-ui

#978 finos#715 enable https profile and support coarse-grained access control using keycloak
  calm-hub-ui/package.json
  calm-hub-ui/src/ProtectedRoute.tsx
  calm-hub-ui/src/authService.tsx
  calm-hub-ui/src/index.tsx
  calm-hub-ui/src/service/calm-service.tsx
  calm-hub/.gitignore
  calm-hub/README.md
  calm-hub/keycloak-dev/device-code-flow.sh
  calm-hub/keycloak-dev/docker-compose.yml
  calm-hub/keycloak-dev/imports/realm.json
  calm-hub/pom.xml
  calm-hub/src/integration-test/java/integration/IntegrationTestSecureProfile.java
  calm-hub/src/integration-test/java/integration/KeycloakTestResource.java
  calm-hub/src/integration-test/java/integration/PermittedScopesIntegration.java
  calm-hub/src/main/java/org/finos/calm/resources/AdrResource.java
  calm-hub/src/main/java/org/finos/calm/resources/ArchitectureResource.java
  calm-hub/src/main/java/org/finos/calm/resources/CoreSchemaResource.java
  calm-hub/src/main/java/org/finos/calm/resources/FlowResource.java
  calm-hub/src/main/java/org/finos/calm/resources/NamespaceResource.java
  calm-hub/src/main/java/org/finos/calm/resources/PatternResource.java
  calm-hub/src/main/java/org/finos/calm/security/AccessControlFilter.java
  calm-hub/src/main/java/org/finos/calm/security/CalmHubScopes.java
  calm-hub/src/main/java/org/finos/calm/security/PermittedScopes.java
  calm-hub/src/main/resources/application-secure.properties
  calm-hub/src/main/resources/application.properties
  calm-hub/src/test/java/org/finos/calm/security/TestAccessControlFilterShould.java
  calm-hub/src/test/java/org/finos/calm/security/TestCalmHubScopesShould.java
  calm-hub/src/test/resources/secure-profile/realm.json
  package-lock.json
Labels: calm-hub, config, calm-hub-ui

#1021 Fix 'hub' navlink
  calm-hub-ui/src/components/navbar/Navbar.tsx
Labels: calm-hub-ui

#1024 Refactor CLI to add more test coverage and add e2e test in cli for calm template endpoint (#890)
  cli/jest.config.js
  cli/src/cli.e2e.spec.ts
  cli/src/cli.spec.ts
  cli/src/index.ts
  cli/src/validate/validate.spec.ts
  cli/src/validate/validate.ts
  cli/test_fixtures/template/model/document-system.json
  cli/test_fixtures/template/template-bundles/doc-system/basic-transformer.js
  cli/test_fixtures/template/template-bundles/doc-system/index.json
  cli/test_fixtures/template/template-bundles/doc-system/main.hbs
Labels: cli

#1027 Extend Calm Template to support de-referencing (#1026)
  cli/src/cli.e2e.spec.ts
  cli/src/cli.spec.ts
  cli/src/command-helpers/template.spec.ts
  cli/src/command-helpers/template.ts
  cli/src/command-helpers/validate.spec.ts
  cli/src/command-helpers/validate.ts
  cli/src/index.ts
  cli/src/server/routes/validation-route.ts
  cli/test_fixtures/template/expected-output/cli-e2e-output.html
  cli/test_fixtures/template/model/document-system.json
  cli/test_fixtures/template/model/flows/flow-document-upload.json
  cli/test_fixtures/template/model/url-to-file-directory.json
  cli/test_fixtures/template/template-bundles/doc-system/index.json
  cli/test_fixtures/template/template-bundles/doc-system/main.hbs
  cli/test_fixtures/template/template-bundles/doc-system/main.html
  cli/tsup.config.ts
  package-lock.json
  shared/package.json
  shared/src/commands/validate/validate.ts
  shared/src/resolver/calm-reference-resolver.spec.ts
  shared/src/resolver/calm-reference-resolver.ts
  shared/src/template/template-calm-file-dereferencer.e2e.spec.ts
  shared/src/template/template-calm-file-dereferencer.spec.ts
  shared/src/template/template-calm-file-dereferencer.ts
  shared/src/template/template-engine.spec.ts
  shared/src/template/template-engine.ts
  shared/src/template/template-processor.e2e.spec.ts
  shared/src/template/template-processor.spec.ts
  shared/src/template/template-processor.ts
  shared/test_fixtures/template/bundles/dereferencing-transformer/deref-transformer.ts
  shared/test_fixtures/template/bundles/dereferencing-transformer/index.json
  shared/test_fixtures/template/bundles/dereferencing-transformer/main.hbs
  shared/test_fixtures/template/data/document-system.json
  shared/test_fixtures/template/data/flow-document-upload.json
  shared/test_fixtures/template/expected-output/deref-output.html
Labels: cli, shared, config

#1034 Initial Implementation of CALM Docify Endpoint (#478)
  cli/package.json
  cli/src/cli.e2e.spec.ts
  cli/src/cli.spec.ts
  cli/src/index.ts
  cli/tsup.config.ts
  shared/src/docify/docifier.spec.ts
  shared/src/docify/docifier.ts
  shared/src/docify/graphing/c4.spec.ts
  shared/src/docify/graphing/c4.ts
  shared/src/docify/graphing/relationship-graph.spec.ts
  shared/src/docify/graphing/relationship-graph.ts
  shared/src/docify/template-bundles/docusaurus/c4-container.hbs
  shared/src/docify/template-bundles/docusaurus/control-requirement.hbs
  shared/src/docify/template-bundles/docusaurus/controls.hbs
  shared/src/docify/template-bundles/docusaurus/custom.css
  shared/src/docify/template-bundles/docusaurus/docusaurus-transformer.ts
  shared/src/docify/template-bundles/docusaurus/docusaurus.config.js
  shared/src/docify/template-bundles/docusaurus/flow-sequence.hbs
  shared/src/docify/template-bundles/docusaurus/flow.mdx.hbs
  shared/src/docify/template-bundles/docusaurus/index.json
  shared/src/docify/template-bundles/docusaurus/index.md.hbs
  shared/src/docify/template-bundles/docusaurus/json-doc.mdx.hbs
  shared/src/docify/template-bundles/docusaurus/node.mdx.hbs
  shared/src/docify/template-bundles/docusaurus/package.json
  shared/src/docify/template-bundles/docusaurus/relationships.hbs
  shared/src/docify/template-bundles/docusaurus/remark-replace-links.js
  shared/src/docify/template-bundles/docusaurus/row-template.html
  shared/src/docify/template-bundles/docusaurus/sidebar.js.hbs
  shared/src/docify/template-bundles/docusaurus/table-template.html
  shared/src/index.ts
  shared/src/model/metadata.ts
Labels: cli, shared, config

#1039 Create new rate type in units.json (#1038)
  calm/draft/2025-03/meta/units.json
  calm/draft/2025-03/prototype/throughput-control-prototype.json
Labels: calm

#1040 Add cli documentation for calm template and calm docify endpoints (#890)(#478)
  cli/README.md
  cli/src/index.ts
Labels: cli

#1041 Add control requirement library for TraderX (#997)
  calm/draft/2025-03/samples/traderx/control-requirement/README.md
  calm/draft/2025-03/samples/traderx/control-requirement/business_logic_and_process_control/business-logic-enforcement-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/compliance_and_governance/access-review-control-requirements.json
  calm/draft/2025-03/samples/traderx/control-requirement/compliance_and_governance/approval-workflow-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/compliance_and_governance/change-management-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/compliance_and_governance/regulatory-compliance-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/compliance_and_governance/review-adjustments-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/data_integrity_and_retention/data-consistency-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/data_integrity_and_retention/data-integrity-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/data_integrity_and_retention/data-retention-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/data_integrity_and_retention/schema-validation-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/monitoring_and_observability/alerting-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/monitoring_and_observability/db-monitoring-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/monitoring_and_observability/health-check-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/monitoring_and_observability/logging-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/monitoring_and_observability/monitoring-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/monitoring_and_observability/tracing-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/performance_and_scalability/latency-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/performance_and_scalability/resource-utilization-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/performance_and_scalability/scalability-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/performance_and_scalability/throughput-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/performance_and_scalability/timeout-handling-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/resilience_and_risk_management/availability-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/resilience_and_risk_management/disaster-recovery-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/resilience_and_risk_management/error-handling-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/resilience_and_risk_management/escalation-path-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/resilience_and_risk_management/failover-redundancy-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/resilience_and_risk_management/incident-response-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/resilience_and_risk_management/risk-management-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/security_and_access_control/api-rate-limiting-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/security_and_access_control/audit-logging-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/security_and_access_control/authentication-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/security_and_access_control/authorization-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/security_and_access_control/data-encryption-control-requirement.json
  calm/draft/2025-03/samples/traderx/control-requirement/security_and_access_control/secrets-management-control-requirement.json
Labels: calm

#1042 Update docs around CLI publishing and new version to be published
  calm/draft/2025-03/samples/traderx/control-requirement/compliance_and_governance/approval-workflow-control-requirement.json
  cli/README.md
  cli/package.json
Labels: calm, cli, config

#1064 chore: typo in what-is-calm.md
  docs/docs/introduction/what-is-calm.md
Labels: docs

#1071 Pattern Options Extra Example + Model Updates
  calm/draft/2025-03/prototype/anyof/both-options.architecture.json
  calm/draft/2025-03/prototype/anyof/neither-option.architecture.json
  calm/draft/2025-03/prototype/anyof/options-prototype.pattern.json
  calm/draft/2025-03/prototype/oneof/application-a.architecture.json
  calm/draft/2025-03/prototype/oneof/application-b.architecture.json
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
  shared/src/model/relationship.spec.ts
  shared/src/model/relationship.ts
  shared/src/types/core-types.ts
Labels: calm, shared

#1073 Refactor CLI and shared tests to use vitest
  cli/jest.config.js
  cli/package.json
  cli/src/cli.e2e.spec.ts
  cli/src/cli.spec.ts
  cli/src/cli.ts
  cli/src/command-helpers/template.spec.ts
  cli/src/command-helpers/validate.spec.ts
  cli/src/index.ts
  cli/src/server/routes/routes.spec.ts
  cli/tsconfig.json
  cli/vitest.config.ts
  package-lock.json
  package.json
  shared/jest.config.js
  shared/package.json
  shared/src/commands/generate/components/instantiate.spec.ts
  shared/src/commands/generate/components/metadata.spec.ts
  shared/src/commands/generate/components/node.spec.ts
  shared/src/commands/generate/components/property.spec.ts
  shared/src/commands/generate/components/relationship.spec.ts
  shared/src/commands/generate/generate.e2e.spec.ts
  shared/src/commands/generate/generate.spec.ts
  shared/src/commands/validate/output-formats/pretty-output.spec.ts
  shared/src/commands/validate/validate.msw.spec.ts
  shared/src/commands/validate/validate.spec.ts
  shared/src/docify/docifier.spec.ts
  shared/src/resolver/calm-reference-resolver.spec.ts
  shared/src/schema-directory.spec.ts
  shared/src/template/template-bundle-file-loader.spec.ts
  shared/src/template/template-engine.spec.ts
  shared/src/template/template-processor.spec.ts
  shared/tsconfig.json
  shared/vitest.config.ts
Labels: cli, shared, config

#1077 Fix global install issues with cli (#1043)
  cli/package.json
  cli/src/cli.e2e.spec.ts
  package-lock.json
  shared/package.json
Labels: cli, shared, config

#1082 Remediate issue with calm docify on 0.6.0 release
  cli/package.json
  cli/src/cli.e2e.spec.ts
  cli/src/command-helpers/validate.spec.ts
  cli/src/command-helpers/validate.ts
  cli/src/index.ts
  cli/src/server/routes/validation-route.ts
  cli/tsconfig.build.json
  cli/tsconfig.json
  cli/tsup.config.ts
  cli/vitest.config.ts
  package.json
  shared/package.json
  shared/scripts/copy-templates.mjs
  shared/src/docify/docifier.spec.ts
  shared/src/docify/template-bundles/docusaurus/docusaurus-transformer.ts
  shared/src/index.ts
  shared/src/resolver/calm-reference-resolver.spec.ts
  shared/src/template/template-bundle-file-loader.spec.ts
  shared/src/template/template-engine.spec.ts
  shared/src/template/template-processor.e2e.spec.ts
  shared/src/template/template-processor.spec.ts
  shared/src/template/template-processor.ts
  shared/tsconfig.build.json
  shared/tsconfig.json
  shared/tsup.config.ts
  shared/vitest.config.ts
  tsconfig.base.json
  tsconfig.json
  vitest-globals.d.ts
Labels: cli, shared, config

#1086 Ensure SchemaDirectory works with latest CALM draft
  calm/pattern/api-gateway.json
  cli/package.json
Labels: calm, cli, config
