Repository finos/architecture-as-code, pull requests merged in 2025-02, with the labels that each got.

#877 Features/#689 CLI Server
  cli/README.md
  cli/package.json
  cli/src/cli.spec.ts
  cli/src/index.ts
  cli/src/server/cli-server.ts
  cli/src/server/routes/health-route.spec.ts
  cli/src/server/routes/health-route.ts
  cli/src/server/routes/routes.spec.ts
  cli/src/server/routes/routes.ts
  cli/src/server/routes/validation-route.spec.ts
  cli/src/server/routes/validation-route.ts
  cli/test_fixtures/validation_route/invalid_api_gateway_instantiation_missing_schema_key.json
  cli/test_fixtures/validation_route/invalid_api_gateway_instantiation_schema_points_to_missing_schema.json
  cli/test_fixtures/validation_route/valid_instantiation.json
  docs/README.md
  package-lock.json
  shared/src/index.ts
  shared/src/schema-directory.ts
Labels: cli, shared, config, docs

#892 #689 Missed CLI upgrade for new version
  cli/package.json
Labels: cli, config

#896 Add code coverage and break build
  .github/workflows/build-cli.yml
  .github/workflows/build-shared.yml
  .gitignore
  cli/jest.config.js
  shared/jest.config.js
Labels: cli, shared

#902 New centralised model for CALM (#790)
  calm/draft/2025-01/meta/core.json
  calm/draft/2025-01/meta/flow.json
  shared/src/model/control-requirement.spec.ts
  shared/src/model/control-requirement.ts
  shared/src/model/control.spec.ts
  shared/src/model/control.ts
  shared/src/model/core.spec.ts
  shared/src/model/core.ts
  shared/src/model/flow.spec.ts
  shared/src/model/flow.ts
  shared/src/model/interface.spec.ts
  shared/src/model/interface.ts
  shared/src/model/metadata.spec.ts
  shared/src/model/metadata.ts
  shared/src/model/node.spec.ts
  shared/src/model/node.ts
  shared/src/model/relationship.spec.ts
  shared/src/model/relationship.ts
  shared/src/parser/parser.e2e.spec.ts
  shared/src/parser/parser.ts
  shared/src/types.ts
  shared/src/types/control-requirement-types.ts
  shared/src/types/control-types.ts
  shared/src/types/core-types.ts
  shared/src/types/flow-types.ts
  shared/src/types/interface-types.ts
  shared/src/types/metadata-types.ts
  shared/src/types/units-types.ts
Labels: calm, shared

#901 First version of calm template for early review (#890)
  cli/src/index.ts
  cli/tsconfig.json
  package-lock.json
  package.json
  shared/jest.config.js
  shared/package.json
  shared/src/index.ts
  shared/src/logger.ts
  shared/src/template/template-bundle-file-loader.spec.ts
  shared/src/template/template-bundle-file-loader.ts
  shared/src/template/template-engine.spec.ts
  shared/src/template/template-engine.ts
  shared/src/template/template-processor.e2e.spec.ts
  shared/src/template/template-processor.spec.ts
  shared/src/template/template-processor.ts
  shared/src/template/types.ts
  shared/test_fixtures/template/bundles/bad-transformer/bad-transformer.ts
  shared/test_fixtures/template/bundles/bad-transformer/index.json
  shared/test_fixtures/template/bundles/bad-transformer/main.hbs
  shared/test_fixtures/template/bundles/failing-transformer/failing-transformer.ts
  shared/test_fixtures/template/bundles/failing-transformer/index.json
  shared/test_fixtures/template/bundles/failing-transformer/main.hbs
  shared/test_fixtures/template/bundles/js-transformer/index.json
  shared/test_fixtures/template/bundles/js-transformer/main.hbs
  shared/test_fixtures/template/bundles/js-transformer/transformer.js
  shared/test_fixtures/template/bundles/missing-transformer/index.json
  shared/test_fixtures/template/bundles/missing-transformer/main.hbs
  shared/test_fixtures/template/bundles/repeated/index.json
  shared/test_fixtures/template/bundles/repeated/main.hbs
  shared/test_fixtures/template/bundles/repeated/repeated-transformer.ts
  shared/test_fixtures/template/bundles/single-file/index.json
  shared/test_fixtures/template/bundles/single-file/main.hbs
  shared/test_fixtures/template/bundles/single-file/simple-transformer.ts
  shared/test_fixtures/template/bundles/with-partials/footer.hbs
  shared/test_fixtures/template/bundles/with-partials/header.hbs
  shared/test_fixtures/template/bundles/with-partials/index.json
  shared/test_fixtures/template/bundles/with-partials/main.hbs
  shared/test_fixtures/template/bundles/with-partials/with-partials-transformer.ts
  shared/test_fixtures/template/data/document-system.json
  shared/test_fixtures/template/data/simple-nodes.json
  shared/test_fixtures/template/expected-output/js-transformer.txt
  shared/test_fixtures/template/expected-output/with-partials.txt
  template-bundles/control/control-requirement.hbs
  template-bundles/control/control-transformer.ts
  template-bundles/control/index.json
Labels: cli, shared, config

#908 docs: update developer guide for docs
  docs/DEVELOPER_GUIDE.md
Labels: documentation, docs

#907 fixes #845 adds proxy config for local dev
  calm-hub/src/main/webapp/vite.config.ts
Labels: calm-hub

#923 Potential fix for code scanning alert no. 1: Cross-site scripting
  calm-hub/pom.xml
  calm-hub/src/main/java/org/finos/calm/resources/CoreSchemaResource.java
Labels: calm-hub

#922 Potential fix for code scanning alert no. 4: Missing rate limiting
  cli/package.json
  cli/src/cli.spec.ts
  cli/src/server/routes/validation-route.ts
  package-lock.json
Labels: cli, config

#934 Upgrade jsonpath-plus
  package-lock.json
  shared/package.json
Labels: shared, config

#935 Remove fetch-mock types as they are bundled in v9 which we're already…
  package-lock.json
  shared/package.json
Labels: shared, config

#938 Upgrade to latest version of Quarkus
  pom.xml
Labels: config
