Repository finos/architecture-as-code, pull requests merged in 2025-06, with the labels that each got.

#1322 Removal of cytoscape-node-edge-html-label
  calm-hub-ui/package.json
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.test.tsx
  calm-hub-ui/src/visualizer/contracts/contracts.ts
  package-lock.json
Labels: config, calm-hub-ui

#1333 Update endpoints and test files related to validate/generate endpoints inline with RC-1 (finos#1284)
  calm/pattern/api-gateway.json
  calm/release/1.0-rc1/meta/core.json
  calm/release/1.0-rc1/meta/interface.json
  calm/release/1.0-rc1/prototype/anyof/both-options.architecture.json
  calm/release/1.0-rc1/prototype/anyof/neither-option.architecture.json
  calm/release/1.0-rc1/prototype/anyof/options-prototype.pattern.json
  calm/release/1.0-rc1/prototype/multiple-choices/architecture.json
  calm/release/1.0-rc1/prototype/multiple-choices/options-prototype.pattern.json
  calm/release/1.0-rc1/prototype/oneof/application-a.architecture.json
  calm/release/1.0-rc1/prototype/oneof/application-b.architecture.json
  calm/release/1.0-rc1/prototype/oneof/options-prototype.pattern.json
  calm/release/1.0-rc1/prototype/throughput-control-prototype.json
  calm/workshop/architecture/conference-secure-signup-amended.arch.json
  calm/workshop/conference-secure-signup.pattern.json
  calm/workshop/conference-signup.pattern.json
  calm/workshop/controls/micro-segmentation.requirement.json
  calm/workshop/controls/permitted-connection.requirement.json
  calm/workshop/directory.json
  cli/README.md
  cli/package.json
  cli/src/cli.e2e.spec.ts
  cli/src/server/routes/validation-route.spec.ts
  shared/src/commands/generate/components/options.spec.ts
  shared/src/commands/generate/generate.e2e.spec.ts
  shared/src/consts.ts
  shared/src/template/template-processor.e2e.spec.ts
  shared/test_fixtures/template/data/controls/owner-responsibility.requirement.json
Labels: calm, cli, shared, config

#1345 Refactoring in preparation of publishing to Maven Central #1344
  calm-hub/pom.xml
  calm/pom.xml
  cli/pom.xml
  docs/pom.xml
  pom.xml
  shared/pom.xml
Labels: calm, cli, calm-hub, shared, config, docs

#1337 Place parent node label at top of node
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
Labels: calm-hub-ui

#1347 Update standards to also persist the name and description into the to…
  calm-hub/src/integration-test/java/integration/MongoStandardIntegration.java
  calm-hub/src/main/java/org/finos/calm/resources/StandardResource.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoStandardStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitriteStandardStore.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoStandardStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitriteStandardStoreShould.java
Labels: calm-hub

#1338 Refactored Sidebar to use JSON Renderer
  calm-hub-ui/package.json
  calm-hub-ui/src/components/navbar/Navbar.tsx
  calm-hub-ui/src/hub/Hub.tsx
  calm-hub-ui/src/hub/components/json-renderer/JsonRenderer.test.tsx
  calm-hub-ui/src/hub/components/json-renderer/JsonRenderer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/cytoscape.d.ts
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.test.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.test.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.tsx
  calm-hub-ui/src/visualizer/contracts/contracts.ts
  calm-hub-ui/src/visualizer/services/layout-correction-service.test.ts
  calm-hub-ui/src/visualizer/services/layout-correction-service.ts
  package-lock.json
Labels: config, calm-hub-ui

#1353 Adding better support for relationship in docify (#1352) + fixing bug (#1126)
  package-lock.json
  shared/src/docify/docifier.e2e.spec.ts
  shared/src/docify/template-bundles/docusaurus/2025_CALM_Icon.svg
  shared/src/docify/template-bundles/docusaurus/docusaurus-transformer.ts
  shared/src/docify/template-bundles/docusaurus/docusaurus.config.js
  shared/src/docify/template-bundles/docusaurus/index.json
  shared/src/docify/template-bundles/docusaurus/index.md.hbs
  shared/src/docify/template-bundles/docusaurus/metadata.hbs
  shared/src/docify/template-bundles/docusaurus/node.mdx.hbs
  shared/src/docify/template-bundles/docusaurus/relationship.mdx.hbs
  shared/src/docify/template-bundles/docusaurus/sidebar.js.hbs
  shared/test_fixtures/command/generate/expected-output/conference-secure-signup-amended.arch.json
Labels: shared, config

#1355 #1234 added persisting of pan and zoom between renders and fixed repositioning bug on rerender
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.test.tsx
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
Labels: calm-hub-ui

#1336 Enable selection of node or edge on single click
  calm-hub-ui/src/index.css
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.tsx
Labels: calm-hub-ui

#1360 New cli version containing docify enhancements
  cli/package.json
Labels: cli, config

#1363 [Issue #1354] - Implementing new sidebar navigation
  calm-hub-ui/package.json
  calm-hub-ui/src/hub/Hub.test.tsx
  calm-hub-ui/src/hub/Hub.tsx
  calm-hub-ui/src/hub/components/adr-renderer/AdrRenderer.tsx
  calm-hub-ui/src/hub/components/value-table/ValueTable.tsx
  calm-hub-ui/vite.config.ts
  package-lock.json
Labels: config, calm-hub-ui

#1377 Add initial documentation for getting started
  .github/workflows/s3-sync.yml
  calm/getting-started/README.md
  calm/getting-started/conference-signup.pattern.json
  calm/getting-started/controls/micro-segmentation.config.json
  calm/getting-started/controls/micro-segmentation.requirement.json
  calm/getting-started/controls/permitted-connection-http.config.json
  calm/getting-started/controls/permitted-connection-jdbc.config.json
  calm/getting-started/controls/permitted-connection.requirement.json
Labels: calm

#1382 Fix OSFF NY year
  docs/talks/index.md
Labels: docs

#1387 Fixing docify so that it works for node 22.12.0 and >=23 (#1386)
  cli/test_fixtures/getting-started/STEP-2/website/docusaurus.config.js
  cli/test_fixtures/getting-started/STEP-2/website/src/remark/remark-replace-links.js
  cli/test_fixtures/getting-started/STEP-3/website/docusaurus.config.js
  cli/test_fixtures/getting-started/STEP-3/website/src/remark/remark-replace-links.js
  shared/src/docify/template-bundles/docusaurus/docusaurus.config.js
  shared/src/docify/template-bundles/docusaurus/remark-replace-links.js
  shared/test_fixtures/docify/workshop/expected-output/non-secure/docusaurus.config.js
  shared/test_fixtures/docify/workshop/expected-output/non-secure/src/remark/remark-replace-links.js
  shared/test_fixtures/docify/workshop/expected-output/secure/docusaurus.config.js
  shared/test_fixtures/docify/workshop/expected-output/secure/src/remark/remark-replace-links.js
Labels: cli, shared

#1391 issue-1346 - Moving adr models into shared folder
  calm-hub-ui/src/hub/components/adr-renderer/AdrRenderer.tsx
  calm-hub-ui/src/hub/helper-functions/adr/adr-helper-function.tsx
  calm-hub-ui/src/hub/helper-functions/adr/adr-helper-functions.test.tsx
  calm-hub-ui/src/model/adr/adr-status/adrStatus.tsx
  calm-hub-ui/src/model/adr/adr.meta.tsx
  calm-hub-ui/src/model/adr/adr.tsx
  calm-hub-ui/src/model/adr/decision.tsx
  calm-hub-ui/src/model/adr/link.tsx
  calm-hub-ui/src/model/adr/option.tsx
  calm-hub-ui/src/model/calm.tsx
  calm-hub-ui/src/service/adr-service/adr-service.tsx
  shared/src/model/adr.spec.ts
  shared/src/model/adr.ts
  shared/src/types/adr-types.ts
Labels: shared, calm-hub-ui
