Repository finos/architecture-as-code, pull requests merged in 2025-04, with the labels that each got.

#1096 Visualizer bug fixes
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
Labels: calm-hub-ui

#1102 Fixes `calm generate` to support generic pattern instantiation
  calm/workshop/conference-secure-signup.pattern.json
  calm/workshop/conference-signup.pattern.json
  calm/workshop/controls/micro-segmentation.config.json
  calm/workshop/controls/micro-segmentation.requirement.json
  calm/workshop/controls/permitted-connection.requirement.json
  cli/README.md
  cli/src/cli.spec.ts
  cli/src/cli.ts
  cli/test_fixtures/generate_output.json
  shared/src/commands/generate/components/instantiate.spec.ts
  shared/src/commands/generate/components/instantiate.ts
  shared/src/commands/generate/components/metadata.spec.ts
  shared/src/commands/generate/components/metadata.ts
  shared/src/commands/generate/components/node.spec.ts
  shared/src/commands/generate/components/node.ts
  shared/src/commands/generate/components/property.ts
  shared/src/commands/generate/components/relationship.spec.ts
  shared/src/commands/generate/components/relationship.ts
  shared/src/commands/generate/generate.e2e.spec.ts
  shared/src/commands/generate/generate.spec.ts
  shared/src/commands/generate/generate.ts
  shared/test_fixtures/command/generate/expected-output/conference-secure-signup.arch.json
  shared/test_fixtures/command/generate/expected-output/conference-signup.arch.json
Labels: calm, cli, shared

#1103 Release a new version of the CLI
  cli/package.json
Labels: cli, config

#1020 Visualize Calm Instance Without Uploading File
  calm-hub-ui/src/hub/Hub.tsx
  calm-hub-ui/src/hub/components/json-view.tsx
  calm-hub-ui/src/model/calm.tsx
  calm-hub-ui/src/service/calm-service.tsx
  calm-hub-ui/src/visualizer/Visualizer.tsx
Labels: calm-hub-ui

#1107 CALM Template to support DefaultTransformer (#1106)
  shared/src/template/template-bundle-file-loader.ts
  shared/src/template/template-default-transfomer.spec.ts
  shared/src/template/template-default-transformer.ts
  shared/src/template/template-processor.e2e.spec.ts
  shared/src/template/template-processor.spec.ts
  shared/src/template/template-processor.ts
  shared/src/template/types.ts
  shared/test_fixtures/template/bundles/default-transformer/index.json
  shared/test_fixtures/template/bundles/default-transformer/main.hbs
  shared/test_fixtures/template/data/controls/architect.configuration.json
  shared/test_fixtures/template/data/controls/business-owner.configuration.json
  shared/test_fixtures/template/data/controls/owner-responsibility.requirement.json
  shared/test_fixtures/template/data/controls/system-owner.configuration.json
  shared/test_fixtures/template/data/document-system-with-controls.json
  shared/test_fixtures/template/expected-output/doc-system-one-pager.md
Labels: shared

#1108 finos#1081 set quarkus.oidc.enabled build-time configuration to false
  calm-hub/src/main/resources/application-secure.properties
  calm-hub/src/main/resources/application.properties
Labels: calm-hub

#1109 Docify Enhancements for QCon
  cli/test_fixtures/generate_output.json
  shared/src/commands/generate/components/instantiate.spec.ts
  shared/src/commands/generate/components/property.spec.ts
  shared/src/commands/generate/components/property.ts
  shared/src/docify/docifier.e2e.spec.ts
  shared/src/docify/graphing/c4.spec.ts
  shared/src/docify/graphing/c4.ts
  shared/src/docify/template-bundles/docusaurus/docusaurus-transformer.ts
  shared/src/docify/template-bundles/docusaurus/index.md.hbs
  shared/src/docify/template-bundles/docusaurus/relationships.hbs
  shared/src/docify/template-bundles/docusaurus/sidebar.js.hbs
  shared/src/spectral/rules-architecture.ts
  shared/src/spectral/rules-pattern.ts
  shared/test_fixtures/command/generate/expected-output/conference-secure-signup.arch.json
  shared/test_fixtures/command/generate/expected-output/conference-signup.arch.json
Labels: cli, shared

#1115 Move CLI dev docs out of the README.ms
  cli/DEVELOPER_GUIDE.md
  cli/README.md
Labels: cli

#1119 Add Infrastructure As Code Generation Example for QCon
  calm/workshop/conference-secure-signup.pattern.json
  calm/workshop/conference-signup.pattern.json
  calm/workshop/controls/permitted-connection-http.config.json
  calm/workshop/controls/permitted-connection-jdbc.config.json
  shared/src/template/template-processor.e2e.spec.ts
  shared/test_fixtures/command/generate/expected-output/conference-secure-signup.arch.json
  shared/test_fixtures/command/generate/expected-output/conference-signup.arch.json
  shared/test_fixtures/template/bundles/infrastructure-transformer/application-service.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/application.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/caico-global-deny.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/cluster_start.hbs
  shared/test_fixtures/template/bundles/infrastructure-transformer/database-deployment.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/database-service.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/index.json
  shared/test_fixtures/template/bundles/infrastructure-transformer/infrastructure-transformer.ts
  shared/test_fixtures/template/bundles/infrastructure-transformer/kustomization.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/namespace.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/permit-app-from-db.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/permit-app-to-db.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/permit-lb-to-app.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/cluster/caico-global-deny.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/cluster/cluster_start.sh
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/application-service.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/application.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/database-deployment.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/database-service.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/kustomization.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/namespace.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/permit-app-from-db.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/permit-app-to-db.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/permit-lb-to-app.yaml
Labels: calm, shared

#1112 Introduce Pattern options #937
  calm/draft/2025-03/prototype/anyof/options-prototype.pattern.json
  calm/draft/2025-03/prototype/oneof/options-prototype.pattern.json
  cli/package.json
  cli/src/cli.spec.ts
  cli/src/cli.ts
  cli/src/command-helpers/file-input.spec.ts
  cli/src/command-helpers/file-input.ts
  cli/src/command-helpers/generate-options.spec.ts
  cli/src/command-helpers/generate-options.ts
  package-lock.json
  package.json
  prettier.config.js
  shared/src/commands/generate/components/instantiate.spec.ts
  shared/src/commands/generate/components/instantiate.ts
  shared/src/commands/generate/components/options.spec.ts
  shared/src/commands/generate/components/options.ts
  shared/src/commands/generate/generate.e2e.spec.ts
  shared/src/commands/generate/generate.spec.ts
  shared/src/commands/generate/generate.ts
  shared/src/index.ts
Labels: calm, cli, shared, config

#1118 #1113 fixed cyctoscape render bug on upload
  calm-hub-ui/src/visualizer/Visualizer.tsx
Labels: calm-hub-ui

#1133 Update templates for demo
  shared/src/template/template-processor.e2e.spec.ts
  shared/test_fixtures/template/bundles/infrastructure-transformer/application-deployment.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/calico-global-deny.yaml
  shared/test_fixtures/template/bundles/infrastructure-transformer/index.json
  shared/test_fixtures/template/expected-output/workshop/infrastructure/cluster/calico-global-deny.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/application-deployment.yaml
  shared/test_fixtures/template/expected-output/workshop/infrastructure/kubernetes/application-service.yaml
Labels: shared

#1122 Add CALM logos to visualizer / CALM Hub #1093
  calm-hub-ui/.gitignore
  calm-hub-ui/package.json
  calm-hub-ui/src/App.tsx
  calm-hub-ui/src/components/navbar/Navbar.tsx
  calm-hub-ui/src/index.css
  calm-hub-ui/src/tests/Menu.test.tsx
  calm-hub-ui/src/visualizer/Visualizer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
  docs/src/css/custom.css
Labels: config, docs, calm-hub-ui

#1143 Include copyfiles as direct UI dependency for build
  calm-hub-ui/package.json
  calm-hub/pom.xml
  package-lock.json
Labels: calm-hub, config, calm-hub-ui

#1145 (fixes #1018) formatting and slight refactors
  calm-hub-ui/src/ProtectedRoute.tsx
  calm-hub-ui/src/authService.tsx
  calm-hub-ui/src/components/navbar/Navbar.tsx
  calm-hub-ui/src/hub/Hub.tsx
  calm-hub-ui/src/hub/components/json-view.tsx
  calm-hub-ui/src/index.tsx
  calm-hub-ui/src/model/calm.tsx
  calm-hub-ui/src/service/calm-service.tsx
  calm-hub-ui/src/tests/Drawer.test.tsx
  calm-hub-ui/src/tests/Menu.test.tsx
  calm-hub-ui/src/tests/Sidebar.test.tsx
  calm-hub-ui/src/visualizer/Visualizer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.tsx
Labels: calm-hub-ui

#1156 1155: Node Description / Relationship description toggles not displaying correctly
  calm-hub-ui/src/tests/Menu.test.tsx
  calm-hub-ui/src/visualizer/Visualizer.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
Labels: calm-hub-ui

#1153 Final demo
  calm/workshop/README.md
  calm/workshop/architecture/conference-secure-signup-amended.arch.json
  calm/workshop/cached/cluster_start.sh
  calm/workshop/conference-secure-signup.pattern.json
  calm/workshop/conference-signup.pattern.json
  calm/workshop/directory.json
  calm/workshop/insecure-example/cluster/cluster_start.sh
  calm/workshop/insecure-example/kubernetes/application-deployment.yaml
  calm/workshop/insecure-example/kubernetes/application-service.yaml
  calm/workshop/insecure-example/kubernetes/database-deployment.yaml
  calm/workshop/insecure-example/kubernetes/database-service.yaml
  calm/workshop/insecure-example/kubernetes/kustomization.yaml
  calm/workshop/insecure-example/kubernetes/namespace.yaml
  calm/workshop/secure-infra-template-bundle/application-deployment.yaml
  calm/workshop/secure-infra-template-bundle/application-service.yaml
  calm/workshop/secure-infra-template-bundle/calico-global-deny.yaml
  calm/workshop/secure-infra-template-bundle/cluster_start.hbs
  calm/workshop/secure-infra-template-bundle/database-deployment.yaml
  calm/workshop/secure-infra-template-bundle/database-service.yaml
  calm/workshop/secure-infra-template-bundle/index.json
  calm/workshop/secure-infra-template-bundle/infrastructure-transformer.js
  calm/workshop/secure-infra-template-bundle/kustomization.yaml
  calm/workshop/secure-infra-template-bundle/namespace.yaml
  calm/workshop/secure-infra-template-bundle/permit-app-from-db.yaml
  calm/workshop/secure-infra-template-bundle/permit-app-to-db.yaml
  calm/workshop/secure-infra-template-bundle/permit-lb-to-app.yaml
  calm/workshop/walkthrough.sh
Labels: calm

#1165 Deprecation Warning - Attempted Fix
  .github/workflows/build-calm-hub-ui.yml
  .github/workflows/build-calm-hub.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-shared.yml
  calm-hub/mongo/init-mongo.js
  calm/workshop/architecture/conference-secure-signup-amended.arch.json
  calm/workshop/conference-secure-signup.pattern.json
  calm/workshop/conference-signup.pattern.json
  cli/package.json
  docs/package.json
  package-lock.json
  package.json
  shared/package.json
  shared/src/commands/validate/validate.spec.ts
  shared/test_fixtures/command/generate/expected-output/conference-secure-signup.arch.json
  shared/test_fixtures/command/generate/expected-output/conference-signup.arch.json
Labels: calm, cli, calm-hub, shared, config, docs

#1150 Expand nodes to fit description labels
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/cytoscape.css
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
Labels: calm-hub-ui

#1164 (fixes #314) improve logging
  cli/src/command-helpers/validate.ts
  cli/src/server/cli-server.ts
  cli/src/server/routes/validation-route.ts
  shared/src/commands/generate/components/instantiate.ts
  shared/src/commands/validate/validate.ts
  shared/src/parser/parser.ts
  shared/src/schema-directory.ts
  shared/test_fixtures/template/data/conference-secure-signup.amended.arch.json
Labels: cli, shared

#1166 remove jest from all packages where not necessary
  calm-hub-ui/package.json
  cli/package.json
  package-lock.json
  shared/package.json
  tsconfig.base.json
Labels: cli, shared, config, calm-hub-ui

#1138 finos#715 instead of buildtime property, use quarkus runtime property to on/off the OIDC integration
  calm-hub/src/main/resources/application-secure.properties
  calm-hub/src/main/resources/application.properties
Labels: calm-hub

#1202 Output correct $schema when generating (#1201)
  cli/test_fixtures/generate_output.json
  package-lock.json
  shared/src/commands/generate/components/instantiate.spec.ts
  shared/src/commands/generate/components/instantiate.ts
  shared/test_fixtures/command/generate/expected-output/conference-secure-signup.arch.json
  shared/test_fixtures/command/generate/expected-output/conference-signup.arch.json
  shared/test_fixtures/template/data/conference-secure-signup.amended.arch.json
Labels: cli, shared, config

#1205 Bump patch version for bugfix
  cli/package.json
Labels: cli, config

#1211 (fixes #1210) fixed validate crash
  cli/package.json
  shared/src/spectral/functions/pattern/interface-id-exists-on-node.ts
Labels: cli, shared, config

#1217 (fixes #1208) update license in CLI package.json to be Apache-2.0
  cli/package.json
Labels: cli, config

#1209 Refactor CLI and SchemaDirectory to use DocumentLoader to enable multiple loading strategies
  cli/src/cli.spec.ts
  cli/src/cli.ts
  cli/src/server/cli-server.ts
  cli/src/server/routes/routes.ts
  cli/src/server/routes/validation-route.spec.ts
  cli/src/server/routes/validation-route.ts
  package-lock.json
  shared/src/commands/generate/components/instantiate.spec.ts
  shared/src/commands/generate/components/instantiate.ts
  shared/src/commands/generate/generate.e2e.spec.ts
  shared/src/commands/generate/generate.spec.ts
  shared/src/commands/generate/generate.ts
  shared/src/commands/validate/validate.ts
  shared/src/document-loader/document-loader.ts
  shared/src/document-loader/file-system-document-loader.ts
  shared/src/schema-directory.spec.ts
  shared/src/schema-directory.ts
  shared/test_fixtures/schema-directory/missing-inner-ref.json
  shared/test_fixtures/schema-directory/recursive.json
  shared/test_fixtures/schema-directory/references.json
  shared/test_fixtures/schema-directory/relative-ref.json
Labels: cli, shared, config

#1219 (fixes #961) sanitize error responses from CoreSchemaResource controller
  calm-hub/pom.xml
  calm-hub/src/main/java/org/finos/calm/resources/CoreSchemaResource.java
Labels: calm-hub

#1226 Introduce domains for controls
  calm-hub/src/integration-test/java/integration/MongoDomainIntegration.java
  calm-hub/src/integration-test/java/integration/MongoSetup.java
  calm-hub/src/main/java/org/finos/calm/domain/Domain.java
  calm-hub/src/main/java/org/finos/calm/domain/exception/DomainAlreadyExistsException.java
  calm-hub/src/main/java/org/finos/calm/resources/DomainSchemaResource.java
  calm-hub/src/main/java/org/finos/calm/store/DomainStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoDomainStore.java
  calm-hub/src/test/java/org/finos/calm/resources/TestDomainSchemaResourceShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoDomainStoreShould.java
  package-lock.json
Labels: calm-hub, config
