Repository finos/architecture-as-code, pull requests merged in 2025-09, with the labels that each got.

#1561 feat(calm-widgets): imply context if not specified and fix dot notation bugs
  cli/test_fixtures/template/expected-output/widget-tests/json-viewer-test.md
  cli/test_fixtures/template/widget-tests/flow-sequence-test.hbs
  cli/test_fixtures/template/widget-tests/json-viewer-test.hbs
  package-lock.json
  shared/package.json
  shared/src/template/template-preprocessor.spec.ts
  shared/src/template/template-preprocessor.ts
Labels: cli, shared, config

#1574 fix(shared): validation of architectures against patterns with options (finos#1555)
  shared/src/commands/validate/validate.e2e.spec.ts
  shared/src/commands/validate/validate.spec.ts
  shared/src/commands/validate/validate.ts
  shared/test_fixtures/command/validate/options/arch.json
  shared/test_fixtures/command/validate/options/pattern-resolved.json
  shared/test_fixtures/command/validate/options/pattern.json
Labels: shared

#1579 fix(release): update tag format and changelog message for semantic-re…
  CONTRIBUTING.md
  cli/.releaserc.json
  cli/DEVELOPER_GUIDE.md
Labels: cli

#1581 feat(release): add automated changelog PR creation for CLI releases
  .github/workflows/automated-release.yml
  cli/.releaserc.json
  cli/package.json
  package-lock.json
Labels: cli, config

#1603 feat(calm-widgets): table enhancements to allow user to create a vertical orientated table
  calm-widgets/README.md
  calm-widgets/src/widgets.e2e.spec.ts
  calm-widgets/src/widgets/table/index.spec.ts
  calm-widgets/src/widgets/table/index.ts
  calm-widgets/src/widgets/table/row-template.html
  calm-widgets/src/widgets/table/table-horizontal.html
  calm-widgets/src/widgets/table/table-template.html
  calm-widgets/src/widgets/table/table-vertical.html
  calm-widgets/test-fixtures/table-widget/flat-vertical-table/context.json
  calm-widgets/test-fixtures/table-widget/flat-vertical-table/expected.md
  calm-widgets/test-fixtures/table-widget/flat-vertical-table/template.hbs
  calm-widgets/test-fixtures/table-widget/simple-object/expected.md
  calm-widgets/test-fixtures/table-widget/simple-object/template.hbs
  cli/test_fixtures/template/expected-output/widget-tests/sad-test.md
  cli/test_fixtures/template/expected-output/widget-tests/table-test.md
Labels: cli

#1584 docs(cli): update changelog for 1.1.0 [skip ci]
  cli/CHANGELOG.md
Labels: cli

#1637 Add CALM Chatmode for VSCode users via the CLI
  calm-ai/CALM.chatmode.md
  calm-ai/README.md
  calm-ai/package.json
  calm-ai/tools/architecture-creation.md
  calm-ai/tools/control-creation.md
  calm-ai/tools/documentation-creation.md
  calm-ai/tools/flow-creation.md
  calm-ai/tools/interface-creation.md
  calm-ai/tools/metadata-creation.md
  calm-ai/tools/node-creation.md
  calm-ai/tools/pattern-creation.md
  calm-ai/tools/relationship-creation.md
  cli/README.md
  cli/package.json
  cli/src/cli.ts
  cli/src/command-helpers/ai-tools.spec.ts
  cli/src/command-helpers/ai-tools.ts
  package-lock.json
  package.json
Labels: cli, config

#1643 feat(calm-ai): Add release rules and scope for calm-ai
  cli/.releaserc.json
Labels: cli

#1648 feat(property): add default value handling in JsonSchema and related functions
  shared/src/commands/generate/components/property.spec.ts
  shared/src/commands/generate/components/property.ts
Labels: shared

#1658 fix(calm-plugins): change publisher to FINOS
  calm-plugins/vscode/package.json
Labels: config

#1660 docs(calm_plugins): Cleanup marketplace documentation entry
  calm-plugins/vscode/.vscodeignore
  calm-plugins/vscode/DEVELOPER.md
  calm-plugins/vscode/LICENSE
  calm-plugins/vscode/README.md
  calm-plugins/vscode/package.json
Labels: config

#1663 docs(calm_plugins): Fixing images as vscode marketplace requires https urls
  calm-plugins/vscode/README.md
  calm-plugins/vscode/package.json
Labels: config

#1665 chore(calm-widgets): update release rules and add scope for calm-widgets
  cli/.releaserc.json
Labels: cli
