Repository finos/architecture-as-code, pull requests merged in 2025-01, with the labels that each got.

#786 Adding CALM Visualizer to main branch from 'explore-cytoscape'
  .vscode/settings.json
  calm-visualizer/.gitignore
  calm-visualizer/.prettierrc
  calm-visualizer/README.md
  calm-visualizer/eslint.config.js
  calm-visualizer/example.json
  calm-visualizer/index.html
  calm-visualizer/package-lock.json
  calm-visualizer/package.json
  calm-visualizer/postcss.config.cjs
  calm-visualizer/src/App.css
  calm-visualizer/src/App.tsx
  calm-visualizer/src/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-visualizer/src/components/cytoscape-renderer/cytoscape.css
  calm-visualizer/src/components/cytoscape-renderer/cytoscape.d.ts
  calm-visualizer/src/components/drawer/Drawer.tsx
  calm-visualizer/src/components/navbar/Navbar.tsx
  calm-visualizer/src/components/sidebar/Sidebar.tsx
  calm-visualizer/src/index.css
  calm-visualizer/src/main.tsx
  calm-visualizer/src/output.css
  calm-visualizer/src/tests/Drawer.test.tsx
  calm-visualizer/src/tests/Navbar.test.tsx
  calm-visualizer/src/tests/Sidebar.test.tsx
  calm-visualizer/src/tests/vitest.setup.ts
  calm-visualizer/src/vite-env.d.ts
  calm-visualizer/tailwind.config.cjs
  calm-visualizer/tsconfig.app.json
  calm-visualizer/tsconfig.json
  calm-visualizer/tsconfig.node.json
  calm-visualizer/vite.config.ts
  calm/samples/2024-10/traderx/controls/flow-sla-control-requirement.json
  calm/samples/2024-10/traderx/flows/trade-processing/trade-processing-new-trade.json
  calm/samples/traderx/traderx.layout.json
  cli/test_fixtures/generate_output.json
  package-lock.json
  shared/src/commands/validate/output-formats/junit-output.spec.ts
  shared/src/types.ts
Labels: calm, cli, shared, config

#792 Add CALM Visualizer to README / CodeOwners
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/build-visualizer.yml
  README.md
  calm-visualizer/README.md
  calm-visualizer/index.html
  calm-visualizer/package-lock.json
  calm-visualizer/package.json
  calm-visualizer/src/App.tsx
  calm-visualizer/src/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-visualizer/src/components/cytoscape-renderer/cytoscape.css
  calm-visualizer/src/components/navbar/Navbar.tsx
  calm-visualizer/src/components/sidebar/Sidebar.tsx
  calm-visualizer/tailwind.config.cjs
  package-lock.json
  package.json
Labels: config

#793 Adding support to validate an architecture without relying on a pattern
  cli/src/cli.spec.ts
  cli/src/index.ts
  cli/test_fixtures/validate_architecture_only_output.json
  shared/src/commands/validate/validate.spec.ts
  shared/src/commands/validate/validate.ts
Labels: cli, shared

#801 Improve Visualizer Layout
  calm-visualizer/package.json
  calm-visualizer/src/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-visualizer/src/components/drawer/Drawer.tsx
  calm-visualizer/src/components/sidebar/Sidebar.tsx
  calm-visualizer/src/tests/Sidebar.test.tsx
  package-lock.json
  package.json
  shared/src/commands/visualize/calmToDot.spec.ts
  shared/src/types.ts
Labels: visualizer, shared, config

#802 Adjusted styling on zoom controls in CALM Visualizer
  calm-visualizer/package-lock.json
  calm-visualizer/package.json
  calm-visualizer/src/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-visualizer/src/components/navbar/Navbar.css
  calm-visualizer/src/components/navbar/Navbar.tsx
  package-lock.json
Labels: config

#799 Adding Flows to CalmHub (#711)
  calm-hub/deploy/docker-compose.yml
  calm-hub/mongo/init-mongo.js
  calm-hub/src/integration-test/java/integration/EndToEndResource.java
  calm-hub/src/integration-test/java/integration/MongoFlowIntegration.java
  calm-hub/src/main/java/org/finos/calm/domain/Flow.java
  calm-hub/src/main/java/org/finos/calm/domain/exception/FlowNotFoundException.java
  calm-hub/src/main/java/org/finos/calm/domain/exception/FlowVersionExistsException.java
  calm-hub/src/main/java/org/finos/calm/domain/exception/FlowVersionNotFoundException.java
  calm-hub/src/main/java/org/finos/calm/resources/FlowResource.java
  calm-hub/src/main/java/org/finos/calm/store/FlowStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoCounterStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoFlowStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoPatternStore.java
  calm-hub/src/main/webapp/src/App.tsx
  calm-hub/src/main/webapp/src/components/json-view.tsx
  calm-hub/src/main/webapp/src/model/calm.tsx
  calm-hub/src/main/webapp/src/service/calm-service.tsx
  calm-hub/src/test/java/org/finos/calm/resources/TestFlowResourcePutEnabledShould.java
  calm-hub/src/test/java/org/finos/calm/resources/TestFlowResourceShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoArchitectureStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoCounterStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoFlowStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoPatternStoreShould.java
Labels: calm-hub

#806 Revert back docify-compose.yml change so that calm-hub can run without build
  calm-hub/deploy/docker-compose.yml
Labels: calm-hub

#798 Add ADR support to CalmHub
  calm-hub/.gitignore
  calm-hub/mongo/init-mongo.js
  calm-hub/pom.xml
  calm-hub/src/integration-test/java/integration/MongoAdrIntegration.java
  calm-hub/src/integration-test/java/integration/MongoArchitectureIntegration.java
  calm-hub/src/integration-test/java/integration/MongoSetup.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Adr.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/AdrMeta.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Decision.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Link.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/NewAdrRequest.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Option.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Status.java
  calm-hub/src/main/java/org/finos/calm/domain/exception/AdrNotFoundException.java
  calm-hub/src/main/java/org/finos/calm/domain/exception/AdrParseException.java
  calm-hub/src/main/java/org/finos/calm/domain/exception/AdrPersistenceException.java
  calm-hub/src/main/java/org/finos/calm/domain/exception/AdrRevisionNotFoundException.java
  calm-hub/src/main/java/org/finos/calm/resources/AdrResource.java
  calm-hub/src/main/java/org/finos/calm/store/AdrStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoAdrStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoCounterStore.java
  calm-hub/src/test/java/org/finos/calm/resources/TestAdrResourceShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoAdrStoreShould.java
Labels: calm-hub

#820 Create a 2025-01 version of the schema for new updates
  calm/draft/2025-01/meta/calm.json
  calm/draft/2025-01/meta/control-requirement.json
  calm/draft/2025-01/meta/control.json
  calm/draft/2025-01/meta/core.json
  calm/draft/2025-01/meta/evidence.json
  calm/draft/2025-01/meta/flow.json
  calm/draft/2025-01/meta/interface.json
  calm/draft/2025-01/meta/units.json
Labels: calm

#829 remove visualize command and dependencies. Fixes #827
  cli/README.md
  cli/package.json
  cli/src/index.ts
  docs/docs/index.md
  docs/docs/introduction/key-features.md
  docs/docs/introduction/what-is-calm.md
  docs/docs/working-with-calm/index.md
  docs/docs/working-with-calm/using-the-cli.md
  docs/docs/working-with-calm/visualize.md
  package-lock.json
  package.json
  shared/package.json
  shared/src/commands/visualize/calmToDot.spec.ts
  shared/src/commands/visualize/calmToDot.ts
  shared/src/commands/visualize/visualize.spec.ts
  shared/src/commands/visualize/visualize.ts
  shared/src/index.ts
Labels: cli, shared, config, docs

#833 Removing translators project as discussed in Office Hours 2025-01-23,…
  .github/CODEOWNERS
  .github/workflows/build-translator.yml
  .github/workflows/cve-scanning-maven.yml
  .github/workflows/license-scanning-maven.yml
  README.md
  docs/docs/introduction/key-features.md
  pom.xml
  translator/.gitignore
  translator/.mvn/wrapper/maven-wrapper.jar
  translator/.mvn/wrapper/maven-wrapper.properties
  translator/Dockerfile
  translator/README.md
  translator/etc/bruno/Architecture as Code/bruno.json
  translator/etc/bruno/Architecture as Code/c4.bru
  translator/etc/bruno/Architecture as Code/k8s.bru
  translator/mvnw
  translator/mvnw.cmd
  translator/pom.xml
  translator/src/main/java/org/finos/calmtranslator/CalmTranslatorApplication.java
  translator/src/main/java/org/finos/calmtranslator/controller/Translator.java
  translator/src/main/java/org/finos/calmtranslator/translators/C4ModelTranslator.java
  translator/src/main/java/org/finos/calmtranslator/translators/K8sModelTranslator.java
  translator/src/main/java/org/finos/calmtranslator/translators/ModelTranslator.java
  translator/src/main/resources/application.properties
  translator/src/test/java/org/finos/calmtranslator/CalmTranslatorApplicationTests.java
  translator/src/test/java/org/finos/calmtranslator/controller/TestTranslatorShould.java
  translator/src/test/java/org/finos/calmtranslator/translators/TestC4ModelTranslatorShould.java
  translator/src/test/java/org/finos/calmtranslator/translators/TestK8sModelTranslatorShould.java
  translator/src/test/resources/cross-communication.json
  translator/src/test/resources/traderx-calm.json
Labels: config, docs

#838 #830: Schema directory refactor
  shared/src/commands/generate/components/instantiate.spec.ts
  shared/src/commands/generate/components/instantiate.ts
  shared/src/commands/generate/components/metadata.spec.ts
  shared/src/commands/generate/components/metadata.ts
  shared/src/commands/generate/components/node.spec.ts
  shared/src/commands/generate/components/node.ts
  shared/src/commands/generate/components/relationship.spec.ts
  shared/src/commands/generate/components/relationship.ts
  shared/src/commands/generate/generate.spec.ts
  shared/src/commands/generate/generate.ts
  shared/src/schema-directory.spec.ts
  shared/src/schema-directory.ts
  shared/src/util.spec.ts
  shared/src/util.ts
Labels: shared

#821 Proposal for #817 adding pattern to the previously declared detailed-architecture
  calm/draft/2025-01/meta/core.json
Labels: calm

#844 Removed Record Builder annotations (#716)
  calm-hub/pom.xml
  calm-hub/src/integration-test/java/integration/MongoAdrIntegration.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Adr.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/AdrMeta.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Decision.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Link.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/NewAdrRequest.java
  calm-hub/src/main/java/org/finos/calm/domain/adr/Option.java
  calm-hub/src/main/java/org/finos/calm/resources/AdrResource.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoAdrStore.java
  calm-hub/src/test/java/org/finos/calm/resources/TestAdrResourceShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoAdrStoreShould.java
Labels: calm-hub

#849 Rework validate command to use SchemaDirectory, and clean up process.exit() use
  calm-visualizer/package.json
  cli/src/index.ts
  package.json
  shared/src/commands/generate/generate.e2e.spec.ts
  shared/src/commands/validate/validate.spec.ts
  shared/src/commands/validate/validate.ts
  shared/src/index.ts
  shared/src/schema-directory.spec.ts
  shared/test_fixtures/api-gateway-implementation.json
Labels: cli, shared, config

#865 #864 has revealed some issues in one of the pom.xml files. This fixes…
  calm-hub/pom.xml
Labels: calm-hub
