Repository finos/architecture-as-code, pull requests merged in 2025-05, with the labels that each got.

#1223 Update tailwindcss to v4
  calm-hub-ui/index.html
  calm-hub-ui/package.json
  calm-hub-ui/postcss.config.cjs
  calm-hub-ui/src/components/navbar/Navbar.css
  calm-hub-ui/src/components/navbar/Navbar.tsx
  calm-hub-ui/src/index.css
  calm-hub-ui/src/index.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.tsx
  calm-hub-ui/tailwind.config.cjs
  calm-hub-ui/vite.config.ts
  package-lock.json
Labels: config, calm-hub-ui

#1244 Propose change to node-type-definition and associate changes
  calm/draft/1232/meta/core.json
Labels: calm

#1246 Fix build when run without integration test profile.
  calm-hub/src/test/java/org/finos/calm/domain/adr/TestDecisionShould.java
  calm-hub/src/test/java/org/finos/calm/domain/adr/TestNewAdrRequestShould.java
Labels: calm-hub

#1258 Remove authentication property from relationships in favor of control…
  calm/draft/1177/README.md
  calm/draft/1177/meta/core.json
  calm/draft/1177/prototype/authentication-as-control.json
  calm/draft/1177/prototype/authentication-control-config.json
  calm/draft/1177/prototype/authentication-control-requirement.json
Labels: calm

#1256 docs: update CALM README with schema governance process and simplifie…
  calm/README.md
Labels: calm

#1254 Add inline control configuration support to CALM schema and example f…
  calm/draft/1233/README.md
  calm/draft/1233/meta/control.json
  calm/draft/1233/prototype/access-control-requirement.json
  calm/draft/1233/prototype/data-encryption-requirement.json
  calm/draft/1233/prototype/encryption-config.json
  calm/draft/1233/prototype/example-inline-config.json
  calm/draft/1233/prototype/example-mixed-config.json
  calm/draft/1233/prototype/example-url-config.json
  calm/draft/1233/prototype/rbac-config.json
Labels: calm

#1245 Make default CALMHub schemas and patterns consistent
  calm-hub/mongo/init-mongo.js
  calm/workshop/architecture/conference-signup.arch.json
Labels: calm, calm-hub

#1272 update dependency vite to v6.3.4 [security] + associated test fix
  calm-hub-ui/package.json
  package-lock.json
  shared/src/docify/template-bundles/docusaurus/docusaurus-transformer.ts
  shared/src/template/template-processor.ts
  shared/tsup.config.ts
Labels: shared, config, calm-hub-ui

#1268 #1224 Proposal for ADRs
  calm/draft/1224/README.md
  calm/draft/1224/meta/core.json
  calm/draft/1224/prototype/api-gateway.json
Labels: calm

#1186 Change Logger for Node Js and Browser Compatability
  package-lock.json
  shared/package.json
  shared/src/commands/validate/validate.ts
  shared/src/document-loader/file-system-document-loader.ts
  shared/src/logger.ts
  shared/src/parser/parser.ts
  shared/src/schema-directory.ts
Labels: shared, config

#1273 Release 1.0 rc1
  calm/release/1.0-rc1/RELEASE_NOTES.md
  calm/release/1.0-rc1/meta/calm.json
  calm/release/1.0-rc1/meta/control-requirement.json
  calm/release/1.0-rc1/meta/control.json
  calm/release/1.0-rc1/meta/core.json
  calm/release/1.0-rc1/meta/evidence.json
  calm/release/1.0-rc1/meta/flow.json
  calm/release/1.0-rc1/meta/interface.json
  calm/release/1.0-rc1/meta/units.json
  calm/release/1.0-rc1/prototype/access-control-requirement.json
  calm/release/1.0-rc1/prototype/adr-example.json
  calm/release/1.0-rc1/prototype/authentication-as-control.json
  calm/release/1.0-rc1/prototype/authentication-control-config.json
  calm/release/1.0-rc1/prototype/authentication-control-requirement.json
  calm/release/1.0-rc1/prototype/custom-interface-example.json
  calm/release/1.0-rc1/prototype/custom-node-type-example.json
  calm/release/1.0-rc1/prototype/data-encryption-requirement.json
  calm/release/1.0-rc1/prototype/example-inline-config.json
  calm/release/1.0-rc1/prototype/example-mixed-config.json
  calm/release/1.0-rc1/prototype/interfaces/grpc-service.json
  calm/release/1.0-rc1/prototype/interfaces/kafka-topic.json
  calm/release/1.0-rc1/prototype/rbac-config.json
Labels: calm

#1227 Add CLI support for loading documents from CalmHub for generate
  cli/src/cli-config.spec.ts
  cli/src/cli-config.ts
  cli/src/cli.e2e.spec.ts
  cli/src/cli.ts
  cli/src/command-helpers/calmhub-input.spec.ts
  cli/src/command-helpers/calmhub-input.ts
  package-lock.json
  shared/package.json
  shared/src/commands/generate/generate.ts
  shared/src/document-loader/calmhub-document-loader.spec.ts
  shared/src/document-loader/calmhub-document-loader.ts
  shared/src/document-loader/document-loader.spec.ts
  shared/src/document-loader/document-loader.ts
  shared/src/document-loader/file-system-document-loader.spec.ts
Labels: cli, shared, config

#1265 Visualizer Not Displaying Interfaces #1090
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.tsx
  shared/src/index.ts
  shared/src/types.ts
  shared/src/types/core-types.ts
  shared/tsconfig.json
Labels: shared, calm-hub-ui

#1157 Display external nodes outside the system
  calm-hub-ui/src/tests/Sidebar.test.tsx
  calm-hub-ui/src/tests/layout-correction-service.test.ts
  calm-hub-ui/src/tests/set-functions.test.ts
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.tsx
  calm-hub-ui/src/visualizer/contracts/contracts.ts
  calm-hub-ui/src/visualizer/helpers/set-functions.ts
  calm-hub-ui/src/visualizer/services/layout-correction-service.ts
Labels: calm-hub-ui

#1290 refactor basic hub components and added tests
  calm-hub-ui/src/hub/Hub.tsx
  calm-hub-ui/src/hub/components/json-renderer/JsonRenderer.test.tsx
  calm-hub-ui/src/hub/components/json-renderer/JsonRenderer.tsx
  calm-hub-ui/src/hub/components/value-table/ValueTable.test.tsx
  calm-hub-ui/src/hub/components/value-table/ValueTable.tsx
  calm-hub-ui/vite.config.ts
  calm-hub-ui/vitest.setup.ts
  package-lock.json
Labels: config, calm-hub-ui

#1291 move tests to be with their implementations
  calm-hub-ui/src/visualizer/components/drawer/Drawer.test.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.test.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.test.tsx
  calm-hub-ui/src/visualizer/helpers/set-functions.test.ts
  calm-hub-ui/src/visualizer/services/layout-correction-service.test.ts
Labels: calm-hub-ui

#1292 Removed zoom buttons and refactored CytoscapeRenderer
  calm-hub-ui/src/visualizer/Visualizer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.test.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.test.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.tsx
  calm-hub-ui/src/visualizer/components/zoom-context.provider.tsx
Labels: calm-hub-ui

#1307 Add calm-hub standalone mode
  calm-hub/README.md
  calm-hub/mongo/init-mongo.js
  calm-hub/pom.xml
  calm-hub/src/main/java/org/finos/calm/config/NitriteDBConfig.java
  calm-hub/src/main/java/org/finos/calm/config/StandaloneQualifier.java
  calm-hub/src/main/java/org/finos/calm/resources/AdrResource.java
  calm-hub/src/main/java/org/finos/calm/resources/ArchitectureResource.java
  calm-hub/src/main/java/org/finos/calm/resources/CoreSchemaResource.java
  calm-hub/src/main/java/org/finos/calm/resources/DomainSchemaResource.java
  calm-hub/src/main/java/org/finos/calm/resources/FlowResource.java
  calm-hub/src/main/java/org/finos/calm/resources/NamespaceResource.java
  calm-hub/src/main/java/org/finos/calm/resources/PatternResource.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoAdrStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoArchitectureStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoCoreSchemaStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoCounterStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoDomainStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoFlowStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoNamespaceStore.java
  calm-hub/src/main/java/org/finos/calm/store/mongo/MongoPatternStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitriteAdrStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitriteArchitectureStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitriteCoreSchemaStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitriteCounterStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitriteDomainStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitriteFlowStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitriteNamespaceStore.java
  calm-hub/src/main/java/org/finos/calm/store/nitrite/NitritePatternStore.java
  calm-hub/src/main/java/org/finos/calm/store/producer/AdrStoreProducer.java
  calm-hub/src/main/java/org/finos/calm/store/producer/ArchitectureStoreProducer.java
  calm-hub/src/main/java/org/finos/calm/store/producer/CoreSchemaStoreProducer.java
  calm-hub/src/main/java/org/finos/calm/store/producer/DomainStoreProducer.java
  calm-hub/src/main/java/org/finos/calm/store/producer/FlowStoreProducer.java
  calm-hub/src/main/java/org/finos/calm/store/producer/NamespaceStoreProducer.java
  calm-hub/src/main/java/org/finos/calm/store/producer/PatternStoreProducer.java
  calm-hub/src/main/resources/application.properties
  calm-hub/src/test/java/org/finos/calm/config/NitriteDBConfigTest.java
  calm-hub/src/test/java/org/finos/calm/domain/adr/TestLinkShould.java
  calm-hub/src/test/java/org/finos/calm/store/mongo/TestMongoPatternStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitriteAdrStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitriteArchitectureStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitriteCoreSchemaStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitriteCounterStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitriteDomainStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitriteFlowStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitriteNamespaceStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/nitrite/TestNitritePatternStoreShould.java
  calm-hub/src/test/java/org/finos/calm/store/producer/TestAdrStoreProducerShould.java
  calm-hub/src/test/java/org/finos/calm/store/producer/TestArchitectureStoreProducerShould.java
  calm-hub/src/test/java/org/finos/calm/store/producer/TestCoreSchemaStoreProducerShould.java
  calm-hub/src/test/java/org/finos/calm/store/producer/TestDomainStoreProducerShould.java
  calm-hub/src/test/java/org/finos/calm/store/producer/TestFlowStoreProducerShould.java
  calm-hub/src/test/java/org/finos/calm/store/producer/TestNamespaceStoreProducerShould.java
  calm-hub/src/test/java/org/finos/calm/store/producer/TestPatternStoreProducerShould.java
  calm-hub/src/test/resources/application.properties
Labels: calm-hub

#1301 Adds input constraints and XSS sanitization to Architecture and Pattern endpoints
  calm-hub/pom.xml
  calm-hub/src/main/java/org/finos/calm/resources/ArchitectureResource.java
  calm-hub/src/main/java/org/finos/calm/resources/PatternResource.java
  calm-hub/src/main/java/org/finos/calm/resources/ResourceValidationConstants.java
  calm-hub/src/test/java/org/finos/calm/resources/TestArchitectureResourcePutEnabledShould.java
  calm-hub/src/test/java/org/finos/calm/resources/TestArchitectureResourceShould.java
  calm-hub/src/test/java/org/finos/calm/resources/TestPatternResourcePutEnabledShould.java
  calm-hub/src/test/java/org/finos/calm/resources/TestPatternResourceShould.java
Labels: calm-hub

#1318 Fix cli types based on 1.0-rc CALM spec (#1284)
  calm/release/1.0-rc1/meta/flow.json
  shared/src/model/control.spec.ts
  shared/src/model/control.ts
  shared/src/model/core.spec.ts
  shared/src/model/core.ts
  shared/src/model/interface.spec.ts
  shared/src/model/interface.ts
  shared/src/model/relationship.spec.ts
  shared/src/model/relationship.ts
  shared/src/types/control-types.ts
  shared/src/types/core-types.ts
  shared/src/types/interface-types.ts
  shared/test_fixtures/template/bundles/default-transformer/main.hbs
  shared/test_fixtures/template/data/document-system-with-controls.json
  shared/test_fixtures/template/expected-output/doc-system-one-pager.md
Labels: calm, shared

#1305 Update dependencies for CALM-Hub-UI
  calm-hub-ui/package.json
  package-lock.json
Labels: config, calm-hub-ui

#1317 Issue 1190: Update upload button to avoid expand/collapse issue
  calm-hub-ui/src/visualizer/components/menu/Menu.test.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
Labels: calm-hub-ui
