Repository finos/architecture-as-code, pull requests merged in 2025-07, with the labels that each got.

#1394 Add ability to run validate against an architecture without a pattern…
  calm/getting-started/README.md
  cli/package.json
  cli/src/cli.e2e.spec.ts
  docs/quick-start/index.md
  shared/src/commands/validate/validate.spec.ts
  shared/src/commands/validate/validate.ts
Labels: calm, cli, shared, config, docs

#1397 Validate refactor part 1 - move loading of files out to CLI
  cli/src/cli.e2e.spec.ts
  cli/src/cli.spec.ts
  cli/src/cli.ts
  cli/src/command-helpers/validate.spec.ts
  cli/src/command-helpers/validate.ts
  cli/src/index.spec.ts
  cli/src/server/cli-server.integration.spec.ts
  cli/src/server/cli-server.ts
  cli/src/server/routes/validation-route.ts
  cli/test_fixtures/validate_output_pretty.txt
  cli/vitest.config.ts
  shared/src/commands/validate/validate.spec.ts
  shared/src/commands/validate/validate.ts
  shared/vitest.config.ts
Labels: cli, shared

#1404 Update shared test to use a relative reference
  shared/src/template/template-engine.spec.ts
Labels: shared

#1414 Base v1.0-rc2 release - changes will be made from here to clearly sho…
  calm/release/1.0-rc2/RELEASE_NOTES.md
  calm/release/1.0-rc2/meta/calm.json
  calm/release/1.0-rc2/meta/control-requirement.json
  calm/release/1.0-rc2/meta/control.json
  calm/release/1.0-rc2/meta/core.json
  calm/release/1.0-rc2/meta/evidence.json
  calm/release/1.0-rc2/meta/flow.json
  calm/release/1.0-rc2/meta/interface.json
  calm/release/1.0-rc2/meta/units.json
  calm/release/1.0-rc2/prototype/access-control-requirement.json
  calm/release/1.0-rc2/prototype/adr-example.json
  calm/release/1.0-rc2/prototype/anyof/both-options.architecture.json
  calm/release/1.0-rc2/prototype/anyof/neither-option.architecture.json
  calm/release/1.0-rc2/prototype/anyof/options-prototype.pattern.json
  calm/release/1.0-rc2/prototype/authentication-as-control.json
  calm/release/1.0-rc2/prototype/authentication-control-config.json
  calm/release/1.0-rc2/prototype/authentication-control-requirement.json
  calm/release/1.0-rc2/prototype/conditional_nested_authentication_control_requirement.json
  calm/release/1.0-rc2/prototype/custom-interface-example.json
  calm/release/1.0-rc2/prototype/custom-node-type-example.json
  calm/release/1.0-rc2/prototype/data-encryption-requirement.json
  calm/release/1.0-rc2/prototype/example-inline-config.json
  calm/release/1.0-rc2/prototype/example-mixed-config.json
  calm/release/1.0-rc2/prototype/interfaces/grpc-service.json
  calm/release/1.0-rc2/prototype/interfaces/kafka-topic.json
  calm/release/1.0-rc2/prototype/multiple-choices/architecture.json
  calm/release/1.0-rc2/prototype/multiple-choices/options-prototype.pattern.json
  calm/release/1.0-rc2/prototype/oneof/application-a.architecture.json
  calm/release/1.0-rc2/prototype/oneof/application-b.architecture.json
  calm/release/1.0-rc2/prototype/oneof/options-prototype.pattern.json
  calm/release/1.0-rc2/prototype/rbac-config.json
  calm/release/1.0-rc2/prototype/throughput-control-prototype.json
Labels: calm

#1415 V1 rc2
  calm/release/1.0-rc2/RELEASE_NOTES.md
  calm/release/1.0-rc2/meta/calm.json
  calm/release/1.0-rc2/meta/control-requirement.json
  calm/release/1.0-rc2/meta/control.json
  calm/release/1.0-rc2/meta/core.json
  calm/release/1.0-rc2/meta/evidence.json
  calm/release/1.0-rc2/meta/flow.json
  calm/release/1.0-rc2/meta/interface.json
  calm/release/1.0-rc2/meta/units.json
  calm/release/1.0-rc2/prototype/adr-example.json
  calm/release/1.0-rc2/prototype/anyof/both-options.architecture.json
  calm/release/1.0-rc2/prototype/anyof/neither-option.architecture.json
  calm/release/1.0-rc2/prototype/anyof/options-prototype.pattern.json
  calm/release/1.0-rc2/prototype/authentication-as-control.json
  calm/release/1.0-rc2/prototype/custom-interface-example.json
  calm/release/1.0-rc2/prototype/custom-node-type-example.json
  calm/release/1.0-rc2/prototype/example-inline-config.json
  calm/release/1.0-rc2/prototype/example-mixed-config.json
  calm/release/1.0-rc2/prototype/multiple-choices/architecture.json
  calm/release/1.0-rc2/prototype/multiple-choices/options-prototype.pattern.json
  calm/release/1.0-rc2/prototype/oneof/application-a.architecture.json
  calm/release/1.0-rc2/prototype/oneof/application-b.architecture.json
  calm/release/1.0-rc2/prototype/oneof/options-prototype.pattern.json
  calm/release/1.0-rc2/prototype/throughput-control-prototype.json
  docs/docs/core-concepts/relationships.md
  docs/docs/introduction/what-is-calm.md
Labels: calm, docs

#1422 Add Metadata Flexibility & Update v1.0-rc2 Release Notes
  calm/release/1.0-rc2/RELEASE_NOTES.md
  calm/release/1.0-rc2/meta/core.json
  calm/release/1.0-rc2/prototype/meta-example.json
Labels: calm

#1454 Update dependencies to latest releases, check for additional CVEs pos…
  .github/maven-cve-ignore-list.xml
  calm-hub/pom.xml
  package-lock.json
  pom.xml
Labels: calm-hub, config

#1463 Adding constrainst to Standards resource (#761)
  calm-hub/src/main/java/org/finos/calm/resources/StandardResource.java
  calm-hub/src/test/java/org/finos/calm/resources/TestStandardResourceShould.java
Labels: calm-hub

#1373 Visualizer styling updates
  brand/Horizontal/2025_CALM_Horizontal_Navbar_Logo.png
  brand/Horizontal/2025_CALM_Horizontal_Navbar_Logo.svg
  calm-hub-ui/src/components/navbar/Navbar.tsx
  calm-hub-ui/src/visualizer/Visualizer.test.tsx
  calm-hub-ui/src/visualizer/Visualizer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape/cytoscape-control-panel/CytoscapeControlPanel.test.tsx
  calm-hub-ui/src/visualizer/components/cytoscape/cytoscape-control-panel/CytoscapeControlPanel.tsx
  calm-hub-ui/src/visualizer/components/cytoscape/cytoscape-renderer/CytoscapeRenderer.test.tsx
  calm-hub-ui/src/visualizer/components/cytoscape/cytoscape-renderer/CytoscapeRenderer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape/cytoscape-renderer/cytoscape.css
  calm-hub-ui/src/visualizer/components/drawer/Drawer.test.tsx
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.test.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
  calm-hub-ui/src/visualizer/components/sidebar/Sidebar.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.test.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.tsx
Labels: calm-hub-ui

#1374 Add support for flows inside pattern using const to a url reference + confirm generated arch document renders flow in docify
  conferences/osff-ln-2025/workshop/architecture/conference-secure-signup-amended.arch.json
  conferences/osff-ln-2025/workshop/conference-secure-signup.pattern.json
  conferences/osff-ln-2025/workshop/directory.json
  conferences/osff-ln-2025/workshop/flows/conference-signup.flow.json
  shared/src/commands/generate/components/instantiate.spec.ts
  shared/src/commands/generate/components/instantiate.ts
  shared/src/docify/docifier.e2e.spec.ts
  shared/test_fixtures/command/generate/expected-output/conference-secure-signup-amended.arch.json
  shared/test_fixtures/command/generate/expected-output/conference-secure-signup.arch.json
  shared/test_fixtures/docify/workshop/expected-output/secure/docs/flows/flow-conference-signup.md
  shared/test_fixtures/docify/workshop/expected-output/secure/docs/index.md
  shared/test_fixtures/docify/workshop/expected-output/secure/sidebars.js
  shared/test_fixtures/template/data/conference-secure-signup.amended.arch.json
Labels: shared

#1466 Remove Menu bar and refactoring upload of files into CALM Visualizer
  calm-hub-ui/package.json
  calm-hub-ui/src/index.tsx
  calm-hub-ui/src/visualizer/Visualizer.test.tsx
  calm-hub-ui/src/visualizer/Visualizer.tsx
  calm-hub-ui/src/visualizer/components/cytoscape/cytoscape-renderer/cytoscape.css
  calm-hub-ui/src/visualizer/components/drawer/Drawer.test.tsx
  calm-hub-ui/src/visualizer/components/drawer/Drawer.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.test.tsx
  calm-hub-ui/src/visualizer/components/menu/Menu.tsx
  calm-hub-ui/src/visualizer/components/visualizer-container/VisualizerContainer.tsx
  package-lock.json
Labels: config, calm-hub-ui
